/{
	keymap {
		compatible = "zmk,keymap";

		/* ┌────┬────┬────┬────┬────┬────┐
		   │ 6  │ 7  │ 8  │ 9  │ 0  │ =+ │     ←  R0
		   ├────┼────┼────┼────┼────┼────┤
		   │  Y │  U │  I │  O │  P │  - │     ←  R1
		   ├────┼────┼────┼────┼────┼────┤
		   │  H │  J │  K │  L │  ; │  [ │     ←  R2
		   ├────┼────┼────┼────┼────┼────┤
		   │  N │  M │  , │  . │  / │  ] │     ←  R3
		   ├────┼────┼────┼────┼────┼────┤
		   │ ←  │ ↓  │ ↑  │ →  │Space│Esc│     ←  R4
		   ├────┼────┼────┼────┼────┼────┤
		   │Bsp │Ent │App │Win │Vol+│Vol-│     ←  R5 (thumb cluster)
		   └────┴────┴────┴────┴────┴────┘  */

		layers = <&base>;

		base {
			bindings = <
				/* R0 */ &kp N6       &kp N7       &kp N8         &kp N9         &kp N0         &kp EQUAL
				/* R1 */ &kp Y        &kp U        &kp I          &kp O          &kp P          &kp MINUS
				/* R2 */ &kp H        &kp J        &kp K          &kp L          &kp SEMI       &kp LBKT
				/* R3 */ &kp N        &kp M        &kp COMMA      &kp DOT        &kp SLASH      &kp RBKT
				/* R4 */ &kp BSPC     &kp ENTER     &kp UP         &kp RIGHT      &kp SPACE      &kp ESC
				/* R5 */ &kp APP     &kp LGUI    &kp C_VOL_UP     &kp C_VOL_DN       &none    &none
			>;
		};
	};
};
