/ {
    compatible = "zmk,keyboard-shield";

    chosen { zmk,kscan = &kscan0; };
    aliases { kscan0 = &kscan0; };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";

        /* ROWS (rândurile) pe jumătatea stângă */
        row-gpios = <
            &gpio0 22 GPIO_ACTIVE_LOW   /* R0 = D4  */
            &gpio0 24 GPIO_ACTIVE_LOW   /* R1 = D5  */
            &gpio1  0 GPIO_ACTIVE_LOW   /* R2 = D6  */
            &gpio0 11 GPIO_ACTIVE_LOW   /* R3 = D7  */
            &gpio1  4 GPIO_ACTIVE_LOW   /* R4 = D8  */
            &gpio1  6 GPIO_ACTIVE_LOW   /* R5 = D9  */
        >;

        /* COLS (coloanele) pe jumătatea stângă */
        col-gpios = <
            &gpio1 11 GPIO_ACTIVE_LOW   /* C0 = D14 */
            &gpio1 13 GPIO_ACTIVE_LOW   /* C1 = D15 */
            &gpio1 15 GPIO_ACTIVE_LOW   /* C2 = D18 */
            &gpio0  2 GPIO_ACTIVE_LOW   /* C3 = D19 */
            &gpio0 29 GPIO_ACTIVE_LOW   /* C4 = D20 */
            &gpio0 31 GPIO_ACTIVE_LOW   /* C5 = D21 */
        >;

        diode-direction      = COL2ROW;
        debounce-press-ms    = <1>;
        debounce-release-ms  = <5>;
    };
};
