#include <dt-bindings/zmk/bt.h>  /* doar dacă folosești pairing */

 / {
    keymap {
        compatible = "zmk,keymap";
        layers = <&base &nav &sym>;

        base {
            bindings = <
            /* ROW 0 (R0=C0…C5) */
            &kp GRAVE  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5
            /* ROW 1 (R1=C0…C5) */
            &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T
            /* ROW 2 (R2=C0…C5) */
            &kp CAPS   &kp A      &kp S      &kp D      &kp F      &kp G
            /* ROW 3 (R3=C0…C5) */
            &kp LSFT   &kp Z      &kp X      &kp C      &kp V      &kp B
            /* ROW 4 (R4=C0…C5) */
            &kp LCTRL  &kp LALT   &kp LEFT   &kp RIGHT  &kp SPACE  &kp ESC
            /* ROW 5 (thumb, R5=C0…C5) */
            &none      &none      &kp LGUI   &mo NAV    &mo SYM    &kp ESC
            >;
        };

        /* Same dummy layers as left */
        nav {
            bindings = < &trans /* … 36×&trans … */ >;
        };

        sym {
            bindings = < &trans /* … 36×&trans … */ >;
        };
    };
};
